*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: cornsilk;
}

p{
    margin-bottom: 10px;
    color: salmon;
}

h1{
    color: blue;
}

#textoVerde{
    color: green;
}

.Rojo{
    color: red;
    font-style: italic;
}